* {
	box-sizing: border-box;
}

:root{
    --photo-border-radius: 5%;
}

@font-face {
    font-family: "VelinoText-Bold";
    src: url("../Fonts/VelinoText-Bold.woff") format('woff');
}

@font-face {
    font-family: "desire_regular";
    src: url("../Fonts/desire_regular.woff") format('woff');
}

@font-face{
    font-family: "flying_dutchman";
    src: url("../Fonts/flying_dutchman.woff") format('woff');
}

#omosscontainer{
    display: grid;
    row-gap: 40px;
}

body{
    width: 90%;
    margin: 0 auto;
}

header, footer{
    background-color: #8a3333;
}

header, footer, #mainpic, #maintext{
	min-height: 150px;
}

#section1container{
    display: flex;
    flex-direction: column;
}

#mainpic{
    display: flex;
    width: 100%;
    justify-content: center;
}

#mainpic img{
    width: 35%;
    border-radius: var(--photo-border-radius);
}

#maintext{
    padding: 0 20%;
}

#section2container, #section3container{
    display: flex;
    flex-wrap: wrap;
}

#article1{
    flex-basis: 450px;
    flex-grow: 1;
    padding: 10%;
}

#article2{
    display: flex;
    justify-content: center;
    flex-basis: 240px;
    flex-grow: 1;
    flex-shrink: 0;
}

#article2 img{
    width: 60%;
    border-radius: var(--photo-border-radius);
}

#article3{
    flex-basis: 240px;
    flex-grow: 1;
}

#article3 img{
    width: 100%;
    border-radius: var(--photo-border-radius);
}

#article4{
    flex-basis: 450px;
    flex-grow: 1;
    padding: 10%;
}

#section4container{
    display: grid;
    margin-top: 40px;
}

#intro{
    color: rgb(209, 198, 183);
    font-size: 40px;
    text-align: center;
}

#forbes, #wallstreetjournal, #newyorktimes
{
    text-align: center;
    color: rgb(209, 198, 183);
    font-size: 60px;
}

#forbes{
    font-family: "VelinoText-Bold";
}

#wallstreetjournal{
    font-family: "desire_regular";
    margin-top: 15px;
}

#newyorktimes{
    font-family: "flying_dutchman";
}

#article6{
    display: flex;
    justify-content: center;
}

#article6 video{
    width: 40%;
}


/*Breda desktopskärmar*/
@media screen and (min-width: 1201px){

	#omosscontainer{
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}

	header{
		grid-column: 1 / 13;
		grid-row: 1 / 2;
	}

    #section1container{
        grid-column: 1 / 13;
		grid-row: 2 / 3;
    }

    #section2container{
        grid-column: 1 / 13;
		grid-row: 3 / 4;
    }

    #section3container{
        grid-column: 1 / 13;
		grid-row: 4 / 5;
    }
    
    #section4container{
        grid-column: 1 / 13;
		grid-row: 5 / 6;
        grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
    }

    #intro{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    #forbes{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #wallstreetjournal{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #newyorktimes{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    #article6{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    footer{
        grid-column: 1 / 13;
		grid-row: 6 / 7;
    }
}




/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px){

header{
    grid-area: header;
}
    
#section1container{
    grid-area: section1container;
}

#section2container{
    grid-area: section2container;
}

#section3container{
    grid-area: section3container;
}

#section4container{
    grid-area: section4container;
}

#intro{
    grid-area: intro;
}

#forbes{
    grid-area: forbes;
}

#wallstreetjournal{
    grid-area: wallstreetjournal;
}

#newyorktimes{
    grid-area: newyorktimes;
}

#article6{
    grid-area: article6;
}

footer{
    grid-area: footer;
}
    
    #omosscontainer{
        grid-template-columns:  1, 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "section1container"
        "section2container"
        "section3container"
        "section4container"
        "footer"
        ;
    }
    
    #section4container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "intro intro intro intro"
        "forbes forbes wallstreetjournal wallstreetjournal"
        ". newyorktimes newyorktimes ."
        "article6 article6 article6 article6"
    }
}