* {
	box-sizing: border-box;
}

:root{
    --photo-border-radius: 5%;
}

@font-face {
    font-family: "VelinoText-Bold";
    src: url("../Fonts/VelinoText-Bold.woff") format('woff');
}

@font-face {
    font-family: "desire_regular";
    src: url("../Fonts/desire_regular.woff") format('woff');
}

@font-face{
    font-family: "flying_dutchman";
    src: url("../Fonts/flying_dutchman.woff") format('woff');
}

#omosscontainer{
    display: grid;
    row-gap: 20px;
}

body{
    width: 90%;
    margin: 0 auto;
}

header, footer{
    background-color: #8a3333;
}

header, footer, #mainpic, #maintext, #section2container{
	min-height: 150px;
}

#mainpic{
    display: flex;
    justify-content: center;
}

#mainpic img{
    width: 40%;
    border-radius: var(--photo-border-radius);
}

#section2container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

#article1{
    width: 65%;
    padding: 10%;
}

#article2{
    width: 35%;
}

#article2 img{
    width: 70%;
    border-radius: var(--photo-border-radius);
}

#article3{
    width: 42.5%;
}

#article3 img{
    width: 100%;
    border-radius: var(--photo-border-radius);
}

#article4{
    width: 57.5%;
    padding: 10%;
}

#section3container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#article5{
    text-align: center;
    font-size: x-large;
    color: rgb(209, 198, 183);
}

#forbes{
    font-family: "VelinoText-Bold";
    font-size: 60px;
}

#wallstreetjournal{
    font-family: "desire_regular";
    font-size: 60px;
}

#newyorktimes{
    font-family: "flying_dutchman";
    font-size: 60px;
}

#article6{
    display: flex;
    width: 100%;
    justify-content: center;
}

#article6 video{
    width: 45%;
}


/*Breda desktopskärmar*/
@media screen and (min-width: 1201px){

	#omosscontainer{
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}
	header{
		grid-column: 1 / 13;
		grid-row: 1 / 2;
	}

    main{
        grid-column: 1 / 13;
		grid-row: 2 / 10;
    }

    #mainpic{
        grid-column: 1 / 13;
		grid-row: 2 / 4;
    }

    #maintext{
        grid-column: 4 / 10;
		grid-row: 4 / 6;
    }

    #section2container{
        grid-column: 1 / 13;
		grid-row: 6 / 10;
    }

    #section3container{
        grid-column: 1 / 13;
		grid-row: 10 / 14;
    }
    footer{
        grid-column: 1 / 13;
		grid-row: 14 / 16;
    }
}





/*header{
    grid-area: header;
}
    
#mainpic{
    grid-area: mainpic;
}

#maintext{
    grid-area: maintext;
}

#article1{
    grid-area: article1;
}

#article2{
    grid-area: article2;
}

footer{
    grid-area: footer;
}/*

/*Breda desktopskärmar*/
/*@media screen and (min-width: 1201px){
    
    #omosscontainer{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "header header header header header header header header header header header header"
        "mainpic mainpic mainpic mainpic mainpic mainpic mainpic mainpic mainpic mainpic mainpic mainpic"
        "maintext maintext maintext maintext maintext maintext maintext maintext maintext maintext maintext maintext"
        "article1 article1 article1 article1 article1 article1 article1 article1 article1 article1 article1 article1"
        "article2 article2 article2 article2 article2 article2 article2 article2 article2 article2 article2 article2"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        ;
    }
}*/