/*
@font-face {
  font-family: "beauty_friday";
  src: url("../Fonts/beauty_friday.woff") format('woff');
}
*/

header, footer{
    background-color: #8a3333;
    width: 100%;
    min-height: 150px;
}

header{
  display: grid;
    gap: 10px;
    grid-template-columns: repeat(13, 1fr);
    grid-template-areas: 
    "företagsnamn företagsnamn företagsnamn företagsnamn företagsnamn nav nav nav nav nav nav nav nav"
    ". logo logo logo logo nav nav nav nav nav nav nav nav"
}
/*
header{
  display: flex;
  justify-content: space-between;
}

#logo{
  width: 10%;
}

#logo img{
  width: 90.5%;
}

#företagsnamn h1{
  font-size: 50px;
  font-family: "beauty_friday";
} */

#logo {
  grid-area: logo;
  display: flex;
}

#logo > img {
  width: 20%;
padding-bottom: 5%;  
}

#företagsnamn {
  grid-area: företagsnamn;
  padding-left: 5%;
  font-style: italic;
}

nav {
  grid-area: nav;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #8a3333;
    justify-content: flex-start;
    align-items: center;
  }
  

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  li a:hover {
    color: rgb(185, 143, 143);
  }