@font-face {
  font-family: "Golden-Dream";
  src: url("../Fonts/Golden-Dream.woff2") format('woff2');
}

@font-face {
  font-family: "desire_regular";
  src: url("../Fonts/desire_regular.woff") format('woff');
}

header, footer{
  background-color: #8a3333;
  width: 100%;
  min-height: 150px;
}

header{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(13, 1fr);
  grid-template-areas: 
  "företagsnamn företagsnamn företagsnamn företagsnamn företagsnamn nav nav nav nav nav nav nav nav"
  ". logo logo logo logo nav nav nav nav nav nav nav nav"
}

nav {
  grid-area: nav;
}

#företagsnamn{
  grid-area: företagsnamn;
  padding-left: 5%;
  font-family: "Golden-Dream";
  font-size: 30px;
}

#logo {
  grid-area: logo;
  display: flex;
}

#logo > img {
  width: 20%;
  padding-bottom: 5%;  
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: #8a3333;
  justify-content: flex-start;
  align-items: center;
  }
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}
  
li a:hover {
  color: rgb(185, 143, 143);
  border-top: 1px solid aqua;
}

p{
  font-family: cursive;
  font-size: 20px;
  font-style: italic;
  line-height: 28px;
}

footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#foodora, #apple, #google, #wolt, #address{
  display: flex;
  justify-content: center;
  align-items: center;
}

#address p{
  font-family: "desire_regular";
  font-size: 30px;
}

/* Facebook*/
.logo {
  background: #4661b0;
  text-indent: -999em;
  width: 50px;
  height: 53px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  border: 8px solid #4661b0;
  border-bottom: 0;
  margin-left: .5em;
}
.logo:before {
  content: "/20";
  position: absolute;
  background: #4661b0;
  width: 14px;
  height: 40px;
  bottom: -11px;
  right: -14px;
  border: 8px solid white;
  border-radius: 11px;
}
.logo:after {
  content: "/20";
  position: absolute;
  border-top: 8px solid #FFF;
  border-left: 0px solid transparent;
  border-right: 1px solid transparent;
  height: 0;
  width: 22px;
  top: 17px;
  right: 0px;
}