@font-face {
  font-family: "beauty_friday";
  src: url("../Fonts/beauty_friday.woff") format('woff');
}


header, footer{
    background-color: #8a3333;
    width: 100%;
    height: 150px;
}

header{
  display: flex;
  justify-content: space-between;
}

#logo{
  width: 10%;
}

#logo img{
  width: 90.5%;
}

#företagsnamn h1{
  font-size: 50px;
  font-family: "beauty_friday";
}

ul {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #8a3333;
  }
  

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  li a:hover {
    color: rgb(185, 143, 143);
  }